{% extends "base_template/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Create Data Production Line</h5>
                <a href="{% url 'productionline' %}" class="btn btn-sm btn-secondary">Kembali</a>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="namaline" class="form-label">Nama Line</label>
                        <input type="text" class="form-control" id="namaline" name="namaline" placeholder="Contoh: Stamping A" required>
                    </div>
                    <div class="mb-3">
                        <label for="shift" class="form-label">Shift</label>
                        <input type="number" class="form-control" id="shift" name="shift" placeholder="Contoh: 1" required>
                    </div>
                    <div class="mb-3">
                        <label for="kapasitasline" class="form-label">Kapasitas</label>
                        <input type="number" class="form-control" id="kapasitasline" name="kapasitasline" placeholder="Masukkan kapasitas line" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}